

/* * {
    box-sizing: border-box;
} */

/* general styling */
h1,
h2,
h3 {
    font-family: 'Helvetica';
}

h2 {
    color: rebeccapurple;
}


nav {
    color: white;
    background-color: #4b2e83;
}

nav a {
    color: white;
}


nav li {

    display: inline-block;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
}

/* Example 5 if you want to use flexbox for the nav bar */
/* if we want to use flexbox instead to style menu */

/* nav ul {
    display: flex;
    justify-content: space-around;
} */

/* End of example 4 */


/* Example 3 - turn the whole thing into side by side columns! */ 

/* main {
    display: flex;
    align-items: center;
}  */

/* about section */
/* .about {
    background-color: #f8f8f8;
    flex-basis: 40%;
    order: 2;
    margin-left: 2em;

} */


/* End of example 3 */


/* course cards */
.jobs .card {
    border: 1px solid black;
    margin: .25em;
}

.jobs img {
    max-width: 150px;
}


/* Example 1 my flexbox pool */

/* Also show justify-content: center */

.card-container {
    display: flex;
    flex-wrap: wrap;

}

/* End of Example 1 */

/* Example 2 properties the cards in the flexbox use */

/* .jobs .card {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* End of Example 2 */



/* Example 1a - show how you can have certain elements in a flexbox pool grow more than others */
/* Also show flexgrow of 0 and 1 */

/* .jobs .card.microsoft {
    flex-grow: 5;
} */

/* End of example  */

/* Example 1b  - last one doesn't grow to fill if we want*/

/* .jobs .card:last-child {
    flex-grow: 0;
    
} */

/* End of example 1b */

/* Example 1c - show how box-sizing:borderbox fixes when padding and margin interfere with size */
/* don't forget to remove the margin above on the .job .card */

/* .card {
    flex-basis:  50%;
} */


footer {
    font-size: smaller;
}